/*
flexBox column flexGrow_2
*/

.flexBox {
    display: flex;
}

.column {
    flex-direction: column;
}

.flexGrow_2 {
    flex-grow: 2;
}

// Skills Card layout specific styles

.skillsBox {
    justify-content: space-around;
}