/*
flexBox column flexGrow_2
*/

.flexBox {
    width: 100%;
    display: flex;
}

.column {
    flex-direction: column;
}

.flexGrow_2 {
    flex-grow: 2;
}

// Skills Card layout specific styles

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.center {
    width: 100%;
    justify-content: center;
}

// .skillsBox