// Classnames: main-grid-system, row, col-1-of-2, col-1-of-4

.main-grid-system {
    width: 90%; 
    margin: 0 auto;
}

.row {
    max-width: $grid-width;
    margin: 0 auto;
    margin-bottom: $gutter-vertical;

    @include clearfix; 

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2); 
        float: left; 

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
}

// Need : 2 by 2 grid classes 
/*
$grid-width: 150rem; 
$gutter-vertical: 5rem; 
$gutter-horizontal: 5rem; 
*/

.four-square-system {
    display: grid; 
    grid-template-columns: 48% 48%;
    grid-row: auto auto; 
    //column-gap: $gutter-horizontal;
    row-gap: $gutter-horizontal;
}
