//* These styles impact size, weight, letter-spacing, etc of the fonts on the page! 

// Nav typography

.navItem {
    color: white;
    font-size: 2.4rem;
    font-family: $main-type;
    transition: all 1s;

    @include respond(phone) {
        color: $color-black; 
    }
}

.navItem:hover {
    color: $color-yellow;
}

.link {
    text-decoration: none;
}

.navAnchor {
    font-size: 3.2rem;
    color: $color-yellow;
    font-family: $limited-title;
    letter-spacing: -1.5px;
}

.navAccent {
    color: $color-yellow;
}

// Headline typography
//* name, top-stagger and bottom-stagger control name in Headline component

.top-stagger {
    position: relative;
    left: -17%;

    @include respond(phone) {
        left: 0;
    }
}

.bottom-stagger {
    color: $color-yellow;
    position: relative;
    top: -1.5rem;
    left: 13%; 

    @include respond(phone) {
        left: 0; 
        color: black;
    }
}

.headline {
    font-family: $limited-title;
    letter-spacing: -1px;
}

//* limited title = very very large titles, use once maybe twice
.limited-title {
    letter-spacing: -1.0rem;
    font-size: 13.5rem;

    @include respond(phone){
        font-size: 10.0rem;
    }
}

.highlighted {
    color: $color-yellow;
}

.small-text {
    font-family: $main-type;
	font-size: 1.6rem;
	letter-spacing: .8px;
    line-height: 25px;
    padding-bottom: .5%;
}

//* Typer component typography 

.typer-text {
    font-size: 2.5rem;
    font-family: $main-type;
}