//* GLOBAL text/font-face/type settings go here. Things like links as they display across all parts of the page 
//! Remember, consistency and bad design is better than good design and no consistency 


.link {
    text-decoration: none;
  }
// Headline typography
//* name, top-stagger and bottom-stagger control name in Headline component

.top-stagger {
    position: relative;
    left: -17%;

    @include respond(phone) {
        left: 0;
    }
}

.bottom-stagger {
    color: $color-yellow;
    position: relative;
    top: -1.5rem;
    left: 13%; 

    @include respond(phone) {
        left: 0; 
        color: black;
    }
}

.headline {
    font-family: $limited-title;
    letter-spacing: -1px;
}

//* limited title = very very large titles, use once maybe twice
.limited-title {
    letter-spacing: -1.0rem;
    font-size: 13.5rem;

    @include respond(phone){
        font-size: 10.0rem;
    }
}

// section-subtitle controls the bigger headlines that aren't quite titles, but should be larger - and have tension/gravity 
.section-subtitle {
    font-size: 4.0rem;
    margin-bottom: 2%;
}

.highlighted {
    color: $color-yellow;
}

.small-text {
    font-family: $main-type;
	font-size: $main-type-size;
	letter-spacing: .8px;
    line-height: 25px;
    padding-bottom: .5%;
}
