//* These styles impact size, weight, letter-spacing, etc of the fonts on the page! 

// Nav typography

.navItem {
    color: white;
    font-size: 2.4rem;
    font-family: $main-type;
    transition: all 1s;
}

.navItem:hover {
    color: $color-yellow;
}

.link {
    text-decoration: none;
}

.navAnchor {
    display: flex;
    font-size: 3.2rem;
    color: $color-yellow;
    font-family: $limited-title;
    letter-spacing: -1.5px;
    //align-items: center;
    //align-content: center;
    //justify-content: center;
}

.navAccent {
    color: $color-yellow;
}

// Headline typography
//* name, top-stagger and bottom-stagger control name in Headline component

.top-stagger {
    position: relative;
    left: -17%;
}

.bottom-stagger {
    color: $color-yellow;
    position: relative;
    top: -1.5rem;
    left: 13%; 
}

.headline {
    font-family: $limited-title;
    letter-spacing: -1px;
}

//* limited title = very very large titles, use once maybe twice
.limited-title {
    letter-spacing: -1.0rem;
    font-size: 13.5rem;
}

.section-subtitle {
    font-size: 3.3rem;
    margin-bottom: 2%;
}

.highlighted {
    color: $color-yellow;
}

//* Typer component typography 

.typer-text {
    font-size: 2.5rem;
    font-family: $main-type;
}