.u-center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.u-center-text {
    text-align: center;
}

.u-increase-height {
    height: 40vh;
}

.u-increase-margin-top {
    margin-top: 5%;
}

// frosted glass utility, gives div an opaque background 
// before pseudo-element applies the blur 
.frosted-glass__container {
    position: relative; 
    z-index: 2; 
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.24); 
    background: inherit; 
    overflow: hidden; 
}

.frosted-glass__container:before {
    content: ""; 
    position: absolute;
    background: inherit; 
    z-index: -2; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.37);
    filter: blur(10px);
}
