.u-center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.u-increase-height {
    height: 40vh;
}

.u-increase-margin-top {
    margin-top: 5%;
}