/*
* 🎨 Colors - limited set
black - color-black - not quite total black: #262625
? yellow - color-yellow  - #FABE1D
? medium gray - #888682
? light gray - #CBC5B7
*/

$primary-medium: #647369; 
$color-black: black; 
$color-yellow: #FCDCA9; 

//TODO replace these colors...
$medium-gray: #888682; 
$light-gray: #CBC5B7; 


/* 
* 🔠 Fonts: 

Not sure on this one yet
? Limited title - main headline, eye catcher, not used for subsections 
? Josefin Sans 

* limited-title
* main-type  
* title-weight 
*/

$limited-title: 'Josefin Sans', sans-serif;
$main-type: 'Lato', sans-serif;
$title-weight: 500; 

$main-type-size: 1.9rem; 

//* ⏹⏹⏹ Grid Settings! ⏹⏹⏹

$grid-width: 160rem; 

$gutter-vertical: 5rem; 
$gutter-horizontal: 3rem; 
