.contact {
    background-color: #4d6b53;
    height: 100vh;
    
    p {
        text-align: center;
        font-size: 2.0rem;
    }
}

.contact-title {
    //! I'm using these same typography settings a lot - need to revisit making a reusable var for this
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 4.0rem;
    font-family: $limited-title;
    text-align: center;
    letter-spacing: -1px;
}

.contact-form {
    width: 50%;
    padding: 2%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: $color-black;
    color: white;

    @include respond(phone) {
        width: 80%;
    }
}

form {
    margin: 0 auto;
    padding: 1%;
    display: flex;
    flex-direction: column;

    // 👇 gives margin to all children of the form - 1% up and down, 0 left to right 
    > * {
        margin: 1% 0; 
    }
}

input {
    padding: 1%;
}

.textbox {
    display: flex;
    padding: 1.5%;

    &::placeholder {
        font-family: $main-type;
    }
}

button {
    width: 20%;
    align-self: center;
    padding: 1%;
    margin: 1%;
}

//* Notification messages, success and failure 

.successMsg {
    font-size: $main-type-size;
    font-family: $main-type;
}