//* FlowerCard styles!! 



.base, .top {
    height: 60vh;
    width: 50vw;
    position: absolute;
    top: 45%;
    left: 55%;

    @include respond(phone) {
        display: none;
    }
}

.base {
    background-image: url('../resources/images/flowerCard_base.svg');
    background-size: cover;
}

.top {
    background-image: url('../resources/images/flowerCard_top.svg');
    background-size: cover;
}

