//* FlowerCard styles!! 

.base, .top {
    border: 1px solid red;
    height: 60vh;
    width: 50vw;
    // position absolute makes sure the images stack
    position: absolute;
    top: 40%;
    left: 55%;
    

    @include respond(phone) {
        display: none;
    }
}

.base {
    background-image: url('../resources/images/flowerCard_base.svg');
    background-size: cover;
    z-index: 0;
}

.top {
    background-image: url('../resources/images/flowerCard_top.svg');
    background-size: cover;
}

