//* Styles in this file control the Headline component 

/* 
headlineBg - the div holding the entirety of the headline section
innerContent - div holding my name and subtitle 
*/

//TODO try making the filter over the bg a lighter color? It doesn't mesh with the new colors that well....
.headlineBg {
    background-image: url("../resources/images/headline-bg_alt.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;

    @include respond(phone) {
        height: 100vh;
      }
}

//* target the actual headline - my name! 
.headline {
    width: 50%;
    //padding: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.headline p {
    font-size: 15.0rem;
    font-family: $limited-title;
    letter-spacing: -1px;
    text-shadow: 1px 1px 5px black;

    @include respond(phone) {
        font-size: 10.0rem;
      }
}

// .headline_first, .headline_last {
//     align-self: center;
// }

.headline_first {
    margin-left: 9%;
    align-self: flex-start;

    // 💈 animations 
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
        margin: 0; 
        align-self: center;
      }
}

.headline_last {
    margin-right: 10%;
    align-self: flex-end;
    color: $text-yellow;

    // 💈 animations 
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
        margin: 0; 
        align-self: center;
      }
}

