//* Styles here affect elements in the Nav component

nav {
    width: 100%;
    padding: 10px 0;
    background: $color-black;
    position: fixed;
    top: 0;
    z-index: 1;
}

 
.navAnchor {
  padding-left: 1%;
}


.navItem {
  padding: 0 2%; 
  margin: 0 auto;
} 