//* Styles here affect elements in the Nav component

nav {
  width: 100%;
  padding: .10%;
  background: $color-black;
  position: fixed;
  top: 0;
  z-index: 1;

  @include respond(phone) {
    background-color: $color-yellow;
  }
}

.navItem {
  padding: 0 2%; 
  margin: 0 auto;
} 

.navItem:hover {
  color: $color-yellow;
}
// Nav typography

.navItem {
  color: white;
  font-size: 2.4rem;
  font-family: $main-type;
  transition: all 1s;

  @include respond(phone) {
      color: $color-black; 
  }
}

.navAnchor {
  display: flex;
}

.navTitle {
  font-size: 3.2rem;
  color: $color-yellow; 
  font-family: $limited-title;
  letter-spacing: -2.0px;
  position: relative;
  left: 12%;
  padding-top: 2%;
}

.navTitle-link {
  text-decoration-color: $color-yellow;
}