.skill-card {
    color: $color-black;
    padding: 2.5rem;
    width: 25rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);
    background-color: $color-yellow;
    transition: transform .3s;

    &:hover {
        transform: translateY(-1.5rem) scale(1.05);
    }
}

//TODO this class should be in TYPOGRAPHY 
.fas {
    font-size: 6.0rem;
}

//TODO this <ul> element styling should also be in typography 
.skill-list {
    list-style: none;
    font-size: 1.8rem;
    font-family: $main-type;
}