// skills-bar refers to the entire DIV that houses the skill cards (the parent level div)
.skills-bar {
    padding: 5% 5%;
    display: flex;
    margin-bottom: 5%;
    justify-content: space-around;
    
  @include respond(phone) {
    flex-direction: column;
  }
}

.skill-card {
    color: white;
    padding: 1%;
    width: 20%;
    position: relative;
    z-index: 2;
    border: 0.01rem solid darkslategrey;
    border-radius: .5rem;
    text-align: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.24); 
    //* this will have to change, for frosted glass effect 
    //background-color: $color-yellow;    
    background: inherit; 
    overflow: hidden;
    transition: all .3s;

    &:hover {
        transform: translateY(-1.5rem) scale(1.05);

        .card-title {
            font-size: 4.0rem;
        }

        .skill-list {
            font-weight: bold;
        }

        .fas {
            //background-image: linear-gradient(to bottom, $color-black, $color-yellow);
        }
    }

    
  @include respond(phone) {
    width: 60%;
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: 6%;
    }
  }
}

.skill-card:before {
    content: ""; 
    position: absolute;
    background: inherit; 
    z-index: -2; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.37);
    filter: blur(10px);
}

.fas {
    margin-bottom: 2%;
    font-size: 6.0rem;
    //* all of the rules below need each other to work properly
    // without -webkit-background-clip the gradient is applied to the background, not the icon
    background-image: linear-gradient(to bottom, white, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    &.fa-language {
        font-size: 7.0rem;
        margin-bottom: -1%;
    }
}
//! It has ocurred to me that I've been thinking about the typography partial all wrong 🤦‍♀️ I'll have to fix this, but I'm not going to let it derail me now 

//* The 'headline' class is also used with the subtitle here - this global class just dictates SIZE and LETTER SPACING. 
// All other specific to the skill card font styles are here. 

.card-title {
    font-size: 4.0rem;
    margin: 0 auto;
    margin-bottom: 2%;
    font-family: $limited-title;
    letter-spacing: -1px;
    transition: all .3s;
}
// Adds border beneath subtitle 
.card-title:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 25%; 
    border-bottom: 3px solid white;
    transition: all .3s;
}

.skill-list {
    list-style: none;
    font-size: 2.2rem;
    font-family: $main-type;
    transition: all .2s;
}