// skills-bar refers to the entire DIV that houses the skill cards (the parent level div)
.skills-bar {
    padding: 5% 5%;
    display: flex;
    margin-bottom: 5%;
    justify-content: space-around;
    
  @include respond(phone) {
    flex-direction: column;
  }
}

.skill-card {
    color: white;
    padding: 1%;
    width: 20%;
    border: 0.01rem solid darkslategrey;
    border-radius: .5rem;
    text-align: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.24); 
    transition: all .3s;

    &:hover {
        transform: translateY(-1.5rem) scale(1.05);

        .card-title {
            font-size: 4.0rem;
        }

        .skill-list {
            font-weight: bold;
        }
    }

    
  @include respond(phone) {
    width: 60%;
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: 6%;
    }
  }
}

// fas refers to the icons provided by fontawesome 😊
.fas {
    margin-bottom: 2%;
    font-size: 6.0rem;
    background-image: linear-gradient(to bottom, white, white);
    // without -webkit-background-clip the gradient is applied to the background, not the icon
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    &.fa-language {
        font-size: 7.0rem;
        margin-bottom: -1%;
    }
}

.card-title {
    font-size: 4.0rem;
    margin: 0 auto;
    margin-bottom: 2%;
    font-family: $limited-title;
    letter-spacing: -1px;
    transition: all .3s;
}

// Adds border beneath subtitle 
.card-title:after {
    content: ""; 
    display: block; 
    margin: 0 auto; 
    width: 25%; 
    border-bottom: 3px solid white;
    transition: all .3s;
}

.skill-list {
    list-style: none;
    font-size: 2.2rem;
    font-family: $main-type;
    transition: all .2s;
}