//* Styles here affect elements in the Nav component

nav {
    color: white;
    width: 100%;
    padding: 10px 0;
    background: $color-black;
}

 
.navAnchor {
  padding-left: 1%;
}


.navItem {
  padding: 0 2%; 
  margin: 0 auto;
} 