
.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}


/* Flexbox settings */

.flexBox {
  display: flex;
}

.column {
  flex-direction: column;
}

nav {
  width: 100%;
  padding: 10px 0;
  background: #353b80;
}

/* Classes defined in JSX: 
  - (div) headlineBg = headline background - holds background image, elements 
  - (div) flexBox = a div with display: flex always set 
  - (div) column = class with flex-direction set to column 
*/