
/* Global styles */

p {
  font-family: 'Lora', serif;
}


.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}

/* Wrapper class created to segment Container areas */

.wrapper {
  width: 100%;
}


/* Flexbox settings */

.flexBox {
  display: flex;
}

.column {
  flex-direction: column;
}

.flexGrow_2 {
  flex-grow: 2;
}


/* Nav styles */
nav {
  color: white;
  width: 100%;
  padding: 10px 0;
  background: #262625;
}

/* This navItem class can probably be moved to a layout file, abstract the font settings to typography */

.navAnchor {
  padding-left: 1%;
}

.navItem {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 2%; 
  margin: 0 auto;
}


/* Headline Component styles */

.headlineBg {
  background-image: url("./resources/images/header-background.jpg");
  background-size: cover;
  background-position: center;
}

.header {
  height: 90vh;
}

.innerContent {
  align-self: center;
  text-align: center;
  width: 50vw;
}


/* Typography */

/* typography dashboard */
/** Classes 
  title: title font settings - used for the title of different sections, and name in the header and nav bar
  headline: Special class for the only h1 on the document - My name 
*/

/** Fonts 
  Josefin Sans - Headline and some titles 
  Lora - main text, varying weights used for other titles 
*/

.headline {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 7.5rem;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
}

.top-stagger {
  position: relative;
  left: -20%;
}

.bottom-stagger {
  display: block;
  position: relative;
  left: 11%;
  margin-top: -1.5%;
}


