
.container {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}

/* Wrapper class created to segment Container areas */

.wrapper {
  width: 100%;
}


/* Flexbox settings */

.flexBox {
  display: flex;
}

.column {
  flex-direction: column;
}

.flexGrow_2 {
  flex-grow: 2;
}

nav {
  color: white;
  width: 100%;
  padding: 10px 0;
  background: #353b80;
}

/* This navItem class can probably be moved to a layout file, abstract the font settings to typography */

.navItem {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 2%; 
  margin: 0 auto;
}


/* Headline Component styles */

.headlineBg {
  background-image: url("./resources/images/header-background.jpg");
  background-size: cover;
  background-position: center;
}

.hero_star {
  height: 90vh;
}

/* Classes defined in JSX: 
  - (div) headlineBg = headline background - holds background image, elements 
  - (div) flexBox = a div with display: flex always set 
  - (div) column = class with flex-direction set to column 
*/